<div *ngIf="displayUser" class="card">
    <img src="" alt="" style="width:100%">
    <!-- all project images are in the project images folder and on bublup -->
    <h1>???</h1>
    <h2>ID: ???</h2>
    <p *ngIf="currentUser.userID>1"><button class="button" >View Requests</button></p>
    <p *ngIf="currentUser.userID>1"><button class="button" >Reset Password</button></p>
    <p *ngIf="currentUser.userID>1&&managerAccess()"><button class="button" >Remove User</button>
    </p>
</div>
<br>
<div *ngIf="displayRequests">
    <table class="table table-hover" class="center" id="userRequestDisplay"> <!-- table: hover, Alternate: warning, light -->
        <thead>
            <tr>
                <th class="table-warning">Request ID</th>
                <th class="table-light">Amount</th>
                <th class="table-warning">Date Created</th>
                <th class="table-light">Status</th>
                <th *ngIf="managerAccess()" style="border: 0px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of userRequests">
                <td class="table-warning">???</td>
                <td class="table-light">???</td>
                <td class="table-warning">???</td>
                <td class="table-light">???</td>
                <td *ngIf="managerAccess() && request.status==pendingStatus">
                    <button type="button" class="button" (click)="goToRequestEdit(request)">
                        <span class="material-icons">Manage</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>