div.card-body {
    /* the below puts the card in the center */
    margin: auto;
    height: 70%;
    width: 60%;
    padding: 10px;
    /* the below will allow scrolling w/in div/class/card even when max_height is exceeded. 
    max-height: 75%;
    overflow-x:auto;  */
}

button {
    border-color: coral;
    border-radius: 10%;
}