<div>
    <table class="center" id="requestDisplay">
        <thead>
            <tr>
                <th>Request ID</th>
                <th>Employee ID</th>
                <th>Amount</th>
                <th>Date of Purchase</th>
                <th>Date of Request</th>
                <th style="border: 0px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of allRequests">
                <td>{{request.reqID}}</td>
                <td>{{request.empID}}</td>
                <td>{{request.cost | currency}}/td>
                <td>{{request.purchaseDate | date}}</td>
                <td>{{request.requestDate | date}}</td>
                <td>{{request.status}}</td>
                <td *ngIf="request.status==pendingStatus">
                    <button type="button" class="button" (click)="goToRequestEdit(request)">
                        <span class="material-icons">Manage</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>