
<h2>List of Requests</h2>
<table class="table table-hover">   <!-- hover, ALTERNATE: warning (orange), light (white) -->
  <thead>
  <tr>
    <th class="table-warning">ID</th>
    <th class="table-light">employee name</th>
    <th class="table-warning">Description</th>
    <th class="table-light">Cost</th>
    <th class="table-warning">Date</th>
    <th class="table-light">Status</th>
    <th class="table-warning">Image</th>
    <!-- all images are in the project image folder and on bublup -->
    <th></th>
  </tr>
  </thead>
    <tr *ngFor="let req of allReqs">
      <td class="table-warning">{{ req.requestID }}</td>
      <td class="table-light">{{ req.employeeID }}</td>
      <td class="table-warning">{{ req.description}}</td>
      <td class="table-light">{{ req.cost}}</td>
      <td class="table-warning">{{ req.date}}</td>
      <td class="table-light">{{ req.status}}</td>
      <!--    <td><img [src]="req.bookImage" height="50px" width="80px"/></td>-->
      <td>{{ req.imageLink }}</td>

      <td>
        <button
          type="button"
          class="btn btn-warning small"
          (click)="approveRequest(req)">
          <span class="material-icons">Approve</span>
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-warning small"
          (click)="denyRequest(req)">
          <span class="material-icons">Deny</span>
        </button>
      </td>
    </tr>
  <tbody>
  </tbody>
</table>
