/* This is adding a linear gradient orange color for the background - every page */
body {
    align-content: center;

    background: linear-gradient(to left top, red, yellow)fixed;
    height: stretch;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

/* this will style the cards the same on every page */
.card{
    background-color: #fff;
    color: coral;
    margin-top: 5em;
    margin-left: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    border-width: 10px;
    border-radius: 10%;
    border-color:coral;
}
