/* You can add global styles to this file, and also import other style files */
/* This is adding a linear gradient orange color for the background - every page */
html, body {
  height: 100%;
  box-sizing: border-box;
}

html {
  display: table;
  margin: auto;
}



body {
  align-content: center;
  background: linear-gradient(to left top, red, yellow)fixed;
  height: stretch;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
  display: table-cell;
  vertical-align: middle;


  /*width: 960px; margin: 0 auto;*/
}


/* this will style the cards the same on every page */
