
<h2>List of Employees</h2>

<div class="card" style="width: 18rem;">
  <img src="src\app\images\maleIcon.jpg" class="card-img-top" alt="icon of employee">
  <!-- all images are in the project image folder, also on bublup -->
  <div class="card-body">

    <table class="table table-hover">   <!-- Table Style: hover, ALTERNATE: warning(orange), light(white) -->
      <thead>
      <tr>
        <th class="warning">ID</th>
        <th class="light">Username</th>
        <th class="warning">Address</th>
        <th class="light">eMail</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let emp of allEmployees">
        <td class="warning">{{ emp.userID }}</td>
        <td class="light">{{ emp.userName}}</td>
        <td class="warning">{{ emp.userAddress}}</td>
        <td class="light">{{ emp.userEmail}}</td>
      </tr>
      </tbody>
    </table>
    
  </div>
</div>